In [1]:
import pandas as pd
import re
import string
import emoji
import spacy

nlp = spacy.load("es_core_news_sm")

In [2]:
data_dir = '../data/'

In [3]:
df_inv = pd.read_csv(data_dir + 'clean_train_aggressiveness.csv')

In [4]:
df_fb = pd.read_csv(data_dir + 'clean_comentarios_facebook.csv', encoding='utf-8')

In [5]:
df_inv.Category.value_counts()

0    5222
1    2110
Name: Category, dtype: int64

In [6]:
df_fb.Category.value_counts()

0    1671
1     297
Name: Category, dtype: int64

In [7]:
df_inv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7332 entries, 0 to 7331
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Id        7332 non-null   int64
 1   Category  7332 non-null   int64
 2   Text      7323 non-null   object
dtypes: int64(2), object(1)
memory usage: 172.0+ KB

In [8]:
df_fb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1968 entries, 0 to 1967
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Text      1959 non-null   object
 1   Category  1968 non-null   int64
dtypes: int64(1), object(1)
memory usage: 30.9+ KB

In [9]:
df_inv['Hate_Speech'] = df_inv['Category']

In [10]:
df_inv['Hate_Speech_Women'] = 0

In [11]:
df_fb['Hate_Speech'] = df_fb['Category']

In [12]:
df_fb['Hate_Speech_Women'] = df_fb['Category']

In [14]:
#Concatenar los dos datasets
df = pd.concat([df_fb, df_inv])

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9300 entries, 0 to 7331
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Text               9282 non-null   object
 1   Category           9300 non-null   int64
 2   Hate_Speech        9300 non-null   int64
 3   Hate_Speech_Women  9300 non-null   int64
 4   Id                 7332 non-null   float64
dtypes: float64(1), int64(3), object(1)
memory usage: 435.9+ KB

In [16]:
df.to_csv(data_dir + "join_clean_train_aggressiveness_comentarios_facebook_new_categories.csv", index=False)